[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
yfinance = "*"
beautifulsoup4 = "*"
requests = "*"
matplotlib = "*"
selenium = "*"
wget = "*"
opencv-python = "*"
pyautogui = "*"
jupyterlab = "*"
tabulate = "*"
cmake = "*"
fake-useragent = "*"

[dev-packages]

[requires]
python_version = "3.8"
